{% extends "index.html" %} {% load widget_tweaks %} {% block Body %}
<div class="login-addUser">
    {% if user.is_authenticated %}
    <form class="form-signin" method="post">
        {% csrf_token %}
        <h3 class="h3 mb-3 font-weight-normal">Trocar Senha</h3>

        {% if messages %}
        <div class="alert alert-warning" role="alert">
            {% for m in messages %} {{ m }} {% endfor %}
        </div>
        {% endif %}

        <div class="form-group">
            <label for="{{ form.old_password.id_for_label }}">Senha antiga:</label>
            {% render_field form.old_password class="form-control" type="password" %}
        </div>
        <div class="form-group">
            <label for="{{ form.new_password1.id_for_label }}">Nova senha:</label>
            {% render_field form.new_password1 class="form-control" type="password" %}
        </div>
        <div class="form-group">
            <label for="{{ form.new_password2.id_for_label }}">Confirmar nova senha:</label>
            {% render_field form.new_password2 class="form-control" type="password" %}
        </div>
        <button type="submit" class="btn btn-primary">Salvar</button>
    </form>
    {% else %}
    <h3 class="h3 mb-3 font-weight-normal">Você precisa estar logado!.</h3>
    {% endif %}
</div>
<br/>
<br/>
<br/> {% endblock Body %}