{% extends "index.html" %} {% load widget_tweaks %} {% block Body %}
<div class="login-addUser">

    {% if user.is_authenticated %}
    <form class="form-signin" method="post">
        {% csrf_token %}
        <h3 class="h3 mb-3 font-weight-normal">Atualize seus dados</h3>

        {% if messages %}
        <div class="alert alert-info" role="alert">
            {% for m in messages %} {{ m }} {% endfor %}
        </div>
        {% endif %}

        <p>Login: {{user.username}}</p>
        <p>Senha: *********</p>
        <p>CPF: {{usuario.cpf}}</p>
        <p>RG: {{usuario.rg}}</p>

        <div class="form-group">
            <label for="{{user_form.first_name.id_for_label}}">Nome:</label>
            {{user_form.first_name|add_class:'form-control'|attr:"placeholder:Nome"}}
        </div>
        <div class="form-group">
            <label for="{{user_form.last_name.id_for_label}}">Sobrenome:</label>
            {{user_form.last_name|add_class:'form-control'|attr:"placeholder:Sobrenome"}}
        </div>
        <div class="form-group">
            <label for="{{user_form.email.id_for_label}}">Email:</label>
            {{user_form.email|add_class:'form-control'|attr:"placeholder:Email"}}
        </div>
        <div class="form-group">
            <label for="{{usuario_form.email.id_for_label}}">Telefone:</label>
            {{usuario_form.telefone|add_class:'form-control'|attr:"placeholder:Telefone"}}
        </div>

        <button class="btn btn-lg btn-primary btn-block" type="submit">Salvar</button>
    </form>
    {% else %}
    <h3 class="h3 mb-3 font-weight-normal">Você precisa estar logado!.</h3>

    {% endif %}
</div>
<br/>
<br/>
<br/>
<br/> {% endblock Body %}